body{
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(38, 2, 103);
}

h1{
    font-size: 15rem;
    font-family: Montserrat;
}

.letter{
    transition:color 1000ms;
}